<p>infoproductos works!</p>
<div class="container">
  <div *ngIf="producto" class="card">
    <div class="card-body">
      <h1 class="card-title text-center">{{ producto.nombre }}</h1>
      <h2 class="card-subtitle mb-2 text-muted text-center">{{ producto.precio }}</h2>
      <h2 class="card-subtitle mb-2 text-muted text-center">{{ producto.marca }}</h2>
      <div class="image-container d-flex justify-content-center align-items-center">
        <img src="{{ producto.imagen }}" alt="Producto" class="img-fluid rounded mx-auto d-block">
      </div>
    </div>
    <div class="card-footer text-center">
      <button [routerLink]="['/productos']" class="btn btn-primary">Regresar</button>
    </div>
  </div>
</div>
